{% extends "layouts.master" %}
{% block content %}
    <div class="jawliner-home">
        {% include 'components.home.jawliner.hero' %}
        {% include 'components.home.jawliner.logo-bar' %}
        {% include 'components.home.jawliner.product' %}
        {% include 'components.home.jawliner.comparison' %}
        {% include 'components.home.jawliner.zigzag' %}
        {% include 'components.home.jawliner.testimonials' %}
        {% include 'components.home.jawliner.faq' %}
    </div>
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}
