<section class="bg-primary overflow-hidden py-20 md:py-40 flex flex-col items-center" id="jawliner-zigzag">
    <div class="container mx-auto px-4 py-16 flex flex-col gap-10 w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-12 items-center justify-center mb-16 lg:mb-20">
            <div>
                <h2 class="text-3xl md:text-4xl font-bold mb-6 text-accent">درب فكك، غيّر مظهرك</h2>
                <p class="text-secondary font-bold text-lg mb-6 leading-relaxed">
                    علكة جولاينر الرياضية مصممة بتركيبة عالية المقاومة لاستهداف وتقوية عضلات الفك.
                </p>
            </div>
            <div class="relative flex items-center justify-center w-full h-full">
                <img
                    src="{{ 'images/jawliner/Chewing_Gum_Normal 1.png' | asset }}"
                    alt="علكة جولاينر"
                    class="relative w-full h-auto max-w-[150px] md:max-w-[200px] lg:max-w-[400px] mx-auto z-10 mt-8"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</section>
